<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Panda Tur</title>
    <link rel="shortcut icon" href="images/logos/logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
	

</head>
<body ng-app="myApp" ng-controller="productsCtrl"></body>

<header>
    <div class="wrapper container">
        <nav class="navbar navbar-expand-lg row">
            <a class="navbar-brand col-xs-2" href="index.html">
                <img width="200px" height="100px" class="img-responsive logo1" src="images/logos/logo.png" alt="Panda Tur">
            </a>

            <nav class="two">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home fa-fw"></i>Главная</a></li>
                    <li><a href="aboutUs.html">О нас</a></li>
                    <li><a href="products.html">Туры</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li ng-show="isSignIn == false">
                        <button id="myBtn">Вход</button>
                    </li>
                    <li ng-show="isSignIn == true">
                        <button class="btn-success">{{login | uppercase}}</button>
                    </li>
                    <li ng-show="isSignIn == true">
                        <button class="btn-danger" ng-click="isSignIn = false">Выход</button>
                    </li>
                </ul>
            </nav>

        </nav>
    </div>
</header>


<div class="container" style="background-color: #dbc8a7;" ng-app="myApp" ng-controller="questionCtrl" ng-init="showNoBtn=true; showAnswer=false; showForm=true;">

    <h1 class="text-center text-uppercase font-weight-bold mt-5 mb-5">Задайте вопрос</h1>

    <form name="myForm" novalidate ng-submit="showAnswer=true;" style = "width: 50%;  position: relative; left:20%; border: 1px;">

        <p>Имя:<br>
            <input ng-class="{true:'focus',false:'blur'}[isFocused]" ng-focus="isFocused=true" ng-blur="isFocused=false" class="form-control" type="text" name="user" ng-model="username" required>
            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                        <span ng-show="myForm.user.$error.required">Username is required.</span>
            </span>
        </p>

        <p>Электронная почта:<br>
            <input class="form-control" type="email" name="email" ng-model="email" required>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Email is required.</span>
            <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
        </p>

        <p>Возраст: <br>
            <input class="form-control" type="number" ng-model="userAge" ng-init="userAge=0;">
            <span class="text-info small">{{userAge | myFilterAge}}</span>
			<p style = "color:red" ng-if="userAge < 18">Вы слишком молоды</p>
        </p>

        <p>Выберите вопрос:</p>
        <select class="form-control" ng-model="qType">
                    <option ng-repeat="x in typeOfQuestions">{{x}}</option>
                </select> <br>

        <p>Опишите вашу проблему:</p>
        <textarea class="form-control" rows="5" ng-model="description"></textarea>
        <br>

        <p>Вам понравились наши услуги?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                        Да
                    </label>
        </div>
        <div class="form-check" ng-show="showNoBtn">
            <input ng-mouseover="showNoBtn=false;" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                        Нет
                    </label>
        </div> <br>

        <p>
            <input class="btn btn-primary" type="submit" ng-click="showAnswer=true;" ng-disabled="myForm.email.$error.required && !myForm.description.$invalid">

        </p>
    </form>

    <div ng-show="showAnswer==true">
        <h3 class="text-center text-success">Ваш вопрос отправлен.</h3>
    </div>


    


<div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="index.html">Panda Tur</a>
</div>
  <div id="myModal" class="modal">

        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <h2 class="text-center text-uppercase font-weight-bold">Авторизация</h2> <br>
                <form ng-submit="signIn()">
                    <h2 class="text-center">Логин</h2>
                    <input ng-model="inputLogin" class="form-control" type="text"> <br>

                    <h2 class="text-center">Пароль</h2>
                    <input ng-model="inputPass" class="form-control" type="password"> <br>

                    <input class="btn btn-primary btn-lg btn-block" style="background-color:#4f4835; color:white;" type="submit" value="Войти"> <br>
                 
                </form>
            </div>
        </div>

    </div>
	
<script src="js/myApp.js"></script>
<script src="js/questionCtrl.js"></script>
<script src="js/modalView.js"></script>
<script src="js/productsCtrl.js"></script>
</body>

</html>